.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

}

.title {
  color: var(--icon-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.19;

  vertical-align: middle;

  display: flex;
  list-style: none;
  /* margin-left: 20px; */
  margin: 0 0 0 20px;
}

.icon {
  display: flex;
  align-items: center;
  align-content: baseline;
  color: var(--icon-color);
  vertical-align: bottom;
  /* margin-left: 20px; */
}
.icon :hover,
.icon:focus {
  color: var(--accent-color);
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 900;
  color: var(--icon-color);
  font-size: 12px;
}

.link:focus,
.link:hover {
  color: var(--accent-color);
}

.active-link {
  composes: link;
  /* color: var(--accent-color); */
}
@media screen and (min-width: 375px) {
  .movie {
    margin-left: 50px;
  }
}

@media screen and (min-width: 4255px) {
  .icon {
    margin-left: 50px;
  }
}
