@import '~@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-text-color: #8e9a9a;
  --secondary-text-color: #160e11;
  --accent-color: #ba571d;
  --icon-color: #551a8b;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--secondary-text-color);
  margin: 0;
}

a,
li {
  text-decoration: none;
}

.page {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.2rem var(--accent-color);
  border-radius: 0.7rem;
  cursor: pointer;
}

.page.active,
.page:hover {
  background-color: var(--accent-color);
}

.page.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}